{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="col-lg-9">
        <div class="card" id="image-labeler-form">
            <picture>
                <img src="{{ url_for('static', filename=img_name) }}" class="card-img-top" alt="Unlabeled image">
            </picture>
            {% if not img_name.endswith("thumbs-up.png") %}
            <form class="card-body" action="/label-image" method="POST">
                <div class="row justify-content-md-center my-3">
                    <div class="col-md-6">
                        <button type="submit" id="img-label-0" class="btn btn-success btn-block" value="99"
                            name="label-value">
                            Neither
                        </button>
                    </div>
                </div>
                <div class="row justify-content-md-center my-3">
                    <div class="col-md-6">
                        <button type="submit" id="img-label-1" class="btn btn-success btn-block" value="0"
                            name="label-value">
                            Atlas
                        </button>
                    </div>
                </div>
                <div class="row justify-content-md-center my-3">
                    <div class="col-md-6">
                        <button type="submit" id="img-label-2" class="btn btn-success btn-block" value="1"
                            name="label-value">
                            Fish
                        </button>
                    </div>
                </div>
                <div class="row justify-content-md-center my-3">
                    <div class="col-md-6">
                        <button type="submit" id="img-label-3" class="btn btn-success btn-block" value="2"
                            name="label-value">
                            Both
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden" id="image-name" name="image-name" value="{{ img_name.split('/')[1] }}">
                </div>
            </form>
            {% else %}
            <div class="card-body">
                <p class="card-text ">All images labeled. Come back later.</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}